.work-result {
  display: inline-block;
  border: 2px solid;
  margin-left: 5px;
  color: white;
  padding: 5px;
}
.background-red {
  background-color: #d03838;
}

.background-green {
  background-color: #42a742;
}