#party-creation-form, #newspaper-creation-form {
  margin-top: 20px;
  border: 2px darkred;

  label {
    margin-top: 10px;
    display: block;
  }
  button {
    margin-top: 10px;
  }
  textarea {
    width: 40%;
    height: 30%;
  }
}