{% block dualColumn %}
    <div id="wrapper">
        <div id="left-column">
            <h2>eRepublik</h2>
            <div>
                <img class="avatar" src="https://thumbs.dreamstime.com/z/persona-casual-del-retrato-masculino-del-avatar-del-icono-del-perfil-46846328.jpg">
                {{ me.country }} {{ me.nick }}
            </div>
        </div>

        <div id="main-container">
            {{ block('content') }}
        </div>
    </div>
{% endblock %}