{% extends isAjax ? "common/ajaxbase.html.twig" : "common/base.html.twig" %}

{% block content %}
    <h1>Congress</h1>
    <button data-action="resign" style="float: right;">Resign</button>

    Propose a law:
    <form id="propose-law" method="post">
        <select name="type" required>
            <option value="6">Transfer funds</option>
            <option value="2">Mutual protection pact</option>
            <option value="3">Work tax</option>
            <option value="4">Manager tax</option>
            <option value="5">Impeachment</option>
            <option value="1">Natural enemy</option>
            <option value="7">Cease fire</option>
        </select>
        <label>
            Reason:
            <input name="reason" type="text" max="300" required>
        </label>
        <select name="country" style="display: none">

        </select>
        <select name="currency" style="display: none">
            <option value="gold">gold</option>
            <option value="local">local</option>
        </select>
        <label data-id="amount-label" style="display: none">
            Amount
            <input name="amount" type="number" value="0" step="0.01">
        </label>
        <button>Propose</button>
    </form>
<hr>
    <h2>Latest laws</h2>
    <ul>
        {% for law in latestLaws %}
        <li>
            <a href="{{ path_for('congressLaw', {id : law.id}) }}">
                {{ law.phrase }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block bottomJS %}
    <script>
        $(function () {
            peque.congress.init();
        });
    </script>
{% endblock %}
