{% extends isAjax ? "common/ajaxbase.html.twig" : "common/base.html.twig" %}

{% block content %}
    <div id="header">
        <ul id="top-menu" class="dropdown">
            <li><a href="{{ path_for('home') }}"><i class="fa fa-home"></i> {% trans %}Home{% endtrans %}</a></li>
            <li>
                <i class="fa fa-flag-o"></i> {% trans %}My Places{% endtrans %}
                <ul>
                    <li><a href="#">{% trans %}Companies{% endtrans %}</a></li>
                    <li><a href="#">{% trans %}Training grounds{% endtrans %}</a></li>
                    <li><a href="#">{% trans %}Change location{% endtrans %}</a></li>
                </ul>
            </li>
            <li><a href="{{ path_for('wars') }}"><i class="fa fa-crosshairs"></i> {% trans %}Wars{% endtrans %}</a></li>
            <li>
                <i class="fa fa-shopping-cart"></i> {% trans %}Market{% endtrans %}
                <ul>
                    <li><a href="#">{% trans %}Companies{% endtrans %}</a></li>
                    <li><a href="#">{% trans %}Training grounds{% endtrans %}</a></li>
                    <li><a href="#">{% trans %}Change location{% endtrans %}</a></li>
                </ul>
            </li>
            <li>
                <i class="fa fa-users"></i> {% trans %}Community{% endtrans %}
                <ul>
                    <li><a href="#">{% trans %}Companies{% endtrans %}</a></li>
                    <li><a href="#">{% trans %}Training grounds{% endtrans %}</a></li>
                    <li><a href="#">{% trans %}Change location{% endtrans %}</a></li>
                </ul>
            </li>
        </ul>
        <a class="logout-link" href="{{ path_for('logout') }}"><i class="fa fa-power-off"></i> {% trans %}Logout{% endtrans %}</a>
    </div>
    <div>
        sdfsdf
    </div>
{% endblock %}