{% set noDualColumn = true %}
{% extends isAjax ? "common/ajaxbase.html.twig" : "common/base.html.twig" %}

{% block content %}
    <div class="background-image"></div>
    <div id="login-wrapper">
        <h1 class="logo">eRepublik</h1>
        <div id="login-container" class="box">
            <form method="post">
                <h3>{% trans %}Welcome back, citizen{% endtrans %}</h3>
                <input name="email" type="email" placeholder="{% trans %}username{% endtrans %}" required>
                <input name="password" type="password" placeholder="*******" required>
                <button>{% trans %}Login{% endtrans %}</button>
                <div class="error">{% trans %}Invalid login data{% endtrans %}</div>
            </form>
            <a href="#">{% trans %}Recover password{% endtrans %}</a>
            <a href="{{ path_for('signup') }}">{% trans %}Signup{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% block bottomJS %}
    <script>
        $(function () {
            peque.unloggedUser.loginInit();
        });
    </script>
{% endblock %}