{% set noDualColumn = true %}
{% extends isAjax ? "common/ajaxbase.html.twig" : "common/base.html.twig" %}

{% block content %}
    <div id="signup-wrapper">
        <h3>{% trans %}Signup{% endtrans %}</h3>
        <form method="post">
            <input name="username" type="text" placeholder="{% trans %}username{% endtrans %}" required>
            <input name="email" type="email" placeholder="{% trans %}email{% endtrans %}" required>
            <input name="password" type="password" placeholder="*******" required>
            <input name="password2" type="password" placeholder="*******" required>
            <input name="referrer" type="hidden" value="{{ referrer }}">
            <select class="new-line" name="country">
                    <option value="0">{% trans %}Choose your country{% endtrans %}</option>
                    {% for country in countries %}
                        <option value="{{ country.id }}">{{ country.name }}</option>
                    {% endfor %}
            </select>

            <label><input type="checkbox" name="terms">{% trans %}I accept the terms & conditions of this service{% endtrans %}</label>
            <br>
            <button>{% trans %}Signup{% endtrans %}</button>
            <div class="error">{% trans %}Invalid data{% endtrans %}</div>
        </form>
    </div>
{% endblock %}

{% block bottomJS %}
    <script>
        $(function () {
            peque.unloggedUser.signupInit();
        });
    </script>
{% endblock %}